.container {
  width: 482px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--color-two);
  box-shadow: var(--box-shadow);
}

.title {
  color: var(--color-green);
  text-shadow: var(--text-shadow);
}
