.list {
  display: flex;
  gap: 10px;
}

.link {
  color: white;
  font-size: 30px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
  &:active {
    color: #14c57c;
  }
  &:hover {
    color: #14c57c;
  }
}

.active {
  color: #14c57c;
}
